[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pywinauto = "*"
openpyxl = "*"
appium-python-client = "*"
setuptools = "*"
selenium = "*"
pillow = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.12.3"

[pipenv]
allow_prereleases = true
